
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8; /* Add a background color */
    border-radius: 10px; /* Add border-radius for a rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  
  .details-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .details-image img {
    max-width: 100%;
    border-radius: 8px; /* Add border-radius for a rounded image */
  }
  
  .details-info {
    flex: 2;
  }
  
  .details-info h2 {
    color: #333; /* Adjust the heading text color */
    margin-bottom: 10px;
  }
  
  .details-info table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .details-info table th {
    text-align: left;
    padding-right: 10px;
    color: #555; /* Adjust the table header text color */
  }
  
  .details-info table td {
    color: #333; /* Adjust the table cell text color */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button i {
    margin-right: 5px;
  }
  